{% extends 'UniControlPanelBundle:Base:layout.html.twig' %}

{% trans_default_domain 'UniControlPanelBundle' %}

{% block title %}{{ 'productsubcategory.new.title'|trans }}{% endblock %}

{% block controlpanel %}
    <section id="controlpanel">
        <div class="container">
            <div class="row" id="page-heading">
                <div class="col-sm-12">
                    <h1 class="page-header">{{ 'productsubcategory.new.title'|trans }}</h1>
                    {% block flashbag %}{{ parent() }}{% endblock %}
                </div>
            </div>
            <!-- /#page-heading -->

            <div class="row" id="page-toolbar">
                <div class="col-lg-12">
                    <div class="btn-toolbar">
                        <a type="button" class="btn btn-default" href="{{ path('controlpanel_productsubcategory_index') }}">{{ icon('list fa-fw') }}&nbsp;{{ 'productsubcategory.index.link'|trans }}</a>
                    </div>
                </div>
            </div>
            <!-- /#page-toolbar -->

            <div class="row" id="page-new">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">{{ 'productsubcategory.new.form'|trans }}</h2>
                        </div>
                        <div class="panel-body">
                            {{ form_start(newForm, { 'style': 'horizontal' }) }}
                                {{ form_widget(newForm) }}
                                    <div class="form-group"><div class="col-lg-offset-4 col-lg-8">
                                        <button type="submit" class="btn btn-primary">{{ icon('save fa-fw') }}&nbsp;{{ 'productsubcategory.new.submit'|trans }}</button>
                                    </div></div>
                            {{ form_end(newForm) }}
                        </div>
                    </div>
                </div>
            </div>
            <!-- /#page-new -->

        </div>
    </section>
{% endblock %}


