{% extends 'UniControlPanelBundle:Base:layout.html.twig' %}

{% trans_default_domain 'UniControlPanelBundle' %}

{% block title %}{{ 'controlpanel.account.title'|trans }}{% endblock %}

{% block controlpanel %}
    <section id="controlpanel">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">{{ 'controlpanel.account.title'|trans }}</h1>
                    {% block flashbag %}{{ parent() }}{% endblock %}
                </div>
            </div>
            <!-- /#page-heading -->

            <div class="row" id="page-edit">
                <div class="col-md-12">
                    {{ form_start(editForm, {'style' : 'horizontal' }) }}
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <h2>{{ 'controlpanel.account.brandinfo'|trans }}</h2>
                            </div>
                        </div>
                        {{ form_row(editForm.brand) }}
                        {{ form_row(editForm.name) }}
                        {{ form_row(editForm.domain) }}
                        {{ form_row(editForm.location) }}
                        {{ form_row(editForm.brand_primary_color) }}
                        {{ form_row(editForm.brand_secondary_color) }}
                        {{ form_row(editForm.brand_tertiary_color) }}
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button class="btn btn-default btn-primary" type="submit">{{ icon('save fa-fw') }}&nbsp;{{ 'controlpanel.account.submit'|trans }}</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <h2>{{ 'controlpanel.account.clientinfo'|trans }}</h2>
                            </div>
                        </div>
                        {{ form_row(editForm.clientname) }}
                        {{ form_row(editForm.clientphone) }}
                        {{ form_row(editForm.clientemail) }}
                        {{ form_row(editForm.clientaddress) }}
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button class="btn btn-default btn-primary" type="submit">{{ icon('save fa-fw') }}&nbsp;{{ 'controlpanel.account.submit'|trans }}</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <h2>{{ 'controlpanel.account.maininfo'|trans }}</h2>
                            </div>
                        </div>
                        {{ form_row(editForm.maintitle) }}
                        {{ form_row(editForm.mainsubtitle) }}
                        {{ form_row(editForm.maincalltoaction) }}
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button class="btn btn-default btn-primary" type="submit">{{ icon('save fa-fw') }}&nbsp;{{ 'controlpanel.account.submit'|trans }}</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <h2>{{ 'controlpanel.account.aboutinfo'|trans }}</h2>
                            </div>
                        </div>
                        {{ form_row(editForm.abouttitle) }}
                        {{ form_row(editForm.aboutcontent) }}
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button class="btn btn-default btn-primary" type="submit">{{ icon('save fa-fw') }}&nbsp;{{ 'controlpanel.account.submit'|trans }}</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <h2>{{ 'controlpanel.account.featureinfo'|trans }}</h2>
                            </div>
                        </div>
                        {{ form_row(editForm.featuretitle) }}
                        {{ form_row(editForm.featurecontent) }}
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button class="btn btn-default btn-primary" type="submit">{{ icon('save fa-fw') }}&nbsp;{{ 'controlpanel.account.submit'|trans }}</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <h2>{{ 'controlpanel.account.contactinfo'|trans }}</h2>
                            </div>
                        </div>
                        {{ form_row(editForm.contacttitle) }}
                        {{ form_row(editForm.contactcontent) }}
                        {{ form_row(editForm.contactphone) }}
                        {{ form_row(editForm.contactemail) }}
                        {{ form_row(editForm.contactaddress) }}
                        {{ form_row(editForm.contactschedule) }}
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <h2>{{ 'controlpanel.account.productinfo'|trans }}</h2>
                            </div>
                        </div>
                        {{ form_row(editForm.producttitle) }}
                        {{ form_row(editForm.productcontent) }}
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <button class="btn btn-default btn-primary" type="submit">{{ icon('save fa-fw') }}&nbsp;{{ 'controlpanel.account.submit'|trans }}</button>
                            </div>
                        </div>
                    {{ form_end(editForm) }}
                </div>
            </div>
            <!-- /#page-edit -->

        </div>
    </section>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
minicolorsOptions = {theme: 'bootstrap'};
$('#uni_controlpanelbundle_account_brand_primary_color').minicolors(minicolorsOptions);
$('#uni_controlpanelbundle_account_brand_secondary_color').minicolors(minicolorsOptions);
$('#uni_controlpanelbundle_account_brand_tertiary_color').minicolors(minicolorsOptions);
</script>
{% endblock %}