{% extends 'UniPageBundle:Panel:layout.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}{{ 'panel.account.title'|trans }}{% endblock %}

{% block panel %}
    <section id="panel">
        <div class="container">
            <div class="row" id="page-heading">
                <div class="col-md-12">
                    <h1 class="page-header">{{ 'panel.account.title'|trans }}</h1>
                    {% block flashbag %}{{ parent() }}{% endblock %}
                </div>
            </div>
            <!-- /#page-heading -->

            <div class="row" id="page-edit">
                <div class="col-md-12">
                    {{ form_start(editForm, {'style' : 'horizontal' }) }}
                        {{ form_widget(editForm) }}
                        <div class="form-group">
                            <div class="col-md-8 col-md-offset-4">
                                <input class="btn btn-default" type="submit" value="{{ 'account.edit.submit'|trans }}" />
                            </div>
                        </div>
                    {{ form_end(editForm) }}
                </div>
            </div>
            <!-- /#page-edit -->

        </div>
    </section>
{% endblock %}

