{% extends 'UniPageBundle:Page:base.html.twig' %}
{% use 'UniPageBundle:Page:navbar.html.twig' %}
{% use 'UniPageBundle:Page:footer.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Registro{% endblock %}

{% block body %}
    {% block navbar %}{{ parent() }}{% endblock %}
    <section class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1 class="page-header">Ingreso de Usuarios</h1>
                {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                    {{ form_widget(form) }}
                    <div>
                        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-default"/>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </section>
    {% block footer %}{{ parent() }}{% endblock %}
{% endblock %}

{% block stylesheet %}
    <style type="text/css">
        section {
            padding: 80px 0px;
        }
    </style>
{% endblock %}