{% extends 'UniPageBundle:Page:base.html.twig' %}
{% use 'UniPageBundle:Page:navbar.html.twig' %}
{% use 'UniPageBundle:Page:footer.html.twig' %}
{% use 'UniAdminBundle:Base:flashbag.html.twig' %}

{% trans_default_domain 'UniPageBundle' %}

{% block title %}Editar Mi Perfil{% endblock %}

{% block body %}
    {% block navbar %}{{ parent() }}{% endblock %}
        <section>
           <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="page-wrapper">
                            <div class="row" id="page-header">
                                <h1 class="page-header">{% block icons %}{{ parent() }}{% endblock %}{{ 'feature.new.title'|trans }}</h1>
                                {% block flashbag %}{{ parent() }}{% endblock %}  
                            </div>
                            <!-- /#page-header -->

                            <div class="row" id="page-toolbar">
                                <div class="col-lg-12">
                                    <div class="btn-toolbar">
                                        <a type="button" class="btn btn-default" href="{{ path('admin_feature_index') }}">{{ icon('list fa-fw') }}&nbsp;{{ 'feature.index.link'|trans }}</a>
                                    </div>
                                </div>
                            </div>
                            <!-- /#page-toolbar -->

                            <div class="row" id="page-new">
                                <div class="col-lg-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h2 class="panel-title">{{ 'feature.new.form'|trans }}</h2>
                                        </div>
                                        <div class="panel-body">
                                            {{ form_start(newForm, { 'style': 'horizontal' }) }}
                                                {{ form_widget(newForm) }}
                                                    <div class="form-group"><div class="col-lg-offset-4 col-lg-8">
                                                        <button type="submit" class="btn btn-primary">{{ icon('save fa-fw') }}&nbsp;{{ 'feature.new.submit'|trans }}</button>
                                                    </div></div>
                                            {{ form_end(newForm) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% block footer %}{{ parent() }}{% endblock %}
{% endblock %}
{% block stylesheet %}
    <style type="text/css">
        section {
            padding: 80px 0px;
        }
    </style>
{% endblock %}
