{% extends 'UniCatalogBundle:Base:base.html.twig' %}
{% use 'UniCatalogBundle:Base:sidebar.html.twig' %}
{% use 'UniCatalogBundle:Base:style-catalog.html.twig' %}
{% use 'UniCatalogBundle:Base:footer.html.twig' %}

{% trans_default_domain 'UniCatalogBundle' %}

{% block title %}{{ 'product.index.title'|trans }}{% endblock %}

{% block body %}
    {% if user.producttitle and products is not empty %}
    <section id="catalog">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    {% block sidebar %}{{ parent() }}{% endblock %} 
                </div>
                <div class="col-md-10">
                    <div class="row row-flex">
                        {% for k, product in products %}
                        <div class="col-sm-3 col-md-2 col-flex">
                            <div class="thumbnail product-thumbnail" data-toggle="modal" data-target="#productModal{{ k }}">
                                {% if product.image %}
                                    <img class="product-item-image" src="{{ vich_uploader_asset(product, 'imagefile', 'Uni\\AdminBundle\\Entity\\Product')|imagine_filter('product_photography') }}">
                                    <div class="overlay">
                                        <div class="overlay-content">{{ icon('plus-circle fa-fw fa-4x') }}</div>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    <div id="modals">

                            {% for k, product in products %}
                            <div id="productModal{{ k }}" class="modal fade" role="dialog">
                                <div class="modal-dialog modal-lg modal-image">

                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <img class="product-item-image img-responsive" src="{{ vich_uploader_asset(product, 'imagefile', 'Uni\\AdminBundle\\Entity\\Product')|imagine_filter('product_photography_large') }}">
                                        </div>
                                        <div class="modal-footer">
                                        {% if product.name %}
                                            <h4 class="modal-title">{{ product.name|raw }}</h4>
                                             {% if product.subcategory %}<small>{{ product.subcategory|raw }}</small>{% endif %}
                                            {% if product.description %}<p>{{ product.description|raw }}</p>{% endif %}
                                            {% if product.price %}<p>$&nbsp;{{ product.price|raw|number_format(0, ',', '.') }}</p>{% endif %}
                                        {% endif %}
                                        </div>
                                    </div>

                                </div>
                            </div>
                            {% endfor %}

                    </div>
                </div>
            </div>

        </div>
    </section>
    {% endif %} 
    {% block footer %}{{ parent() }}{% endblock %}
{% endblock %}

{% block stylesheet %}
    {% block stylecatalog %}{{ parent() }}{% endblock %}
{% endblock %}